#share {
	background: #25D366;
	color: #FFFFFF;
	font-weight: bold;
	width: 92%;
	min-width: 240px;
	max-width: 580px;
	margin: 0px auto 10px auto;
	border-radius: 5px;
	padding: 15px;
	text-align: center;
}
#shareaction {
	margin-top: 10px;
}

#content {
	max-width: 580px;
	margin: auto;
}

.monthbox {
	margin-top: 10px;
}
.monthbox:first-child {
	margin-top: 0 !important;
}
.month {
	font-weight: bold;
	background: #D61E25;
	color: #FFFFFF;
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
	border-radius: 5px;
}
.day {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #E6E6E6;
	margin-top: 5px;
	padding: 5px;
	border-radius: 5px;
}
.daynumber {
	margin-right: 15px;
}
.dayphoneicon {
	position: absolute;
	right: 5px;
}
.today {
	background: #B8DB8A !important;
	color: #111111 !important;
}
.tomorrow {
	background: #FFCFC7;
}


/*mobile*/
@media screen and (max-width: 768px) {


#share {
	width: 100%;
}


}


/*dark*/
body.dark .day {
	background: #18181B;
	color: #FFFFFF;
}