#igreja {
	background: #FFFFFF;
	width: 90%;
	max-width: 1260px;
	min-width: 200px;
	margin: 10px auto;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 10px;
}


@media screen and (max-width: 768px) {


main {
	padding: 0 10px;
}
#igreja {
	width: 100%;
}


}